/*! Karasu-widgets - v1.0.0 © 2019 | Developed by Karasu themes (github.com/KuroSensei/karasu-layout)*/

// Variables

$cBase: #1e272e !default;
$clBase: lighten($cBase, 25%);
$bgLight: #f8f8f8 !default;
$lhBase: 1.55 !default;
$fsBase: 16px !default;
$hSize: 22px;

// Widgets

	/*=> Entradas recomendadas */
	@import 'widgets/featuredPost';

	/*=> Buscador del blog */
	@import 'widgets/blogSearch';

	/*=> Perfil */
	@import 'widgets/Profile';

	/*=> Etiquetas */
	@import 'widgets/Label';

	/*=> Entradas populares*/
	@import 'widgets/PopularPosts';

	/*=> Formulario de Contacto */
	@import 'widgets/ContactForm';
